* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;
  
  background-color: #f3f3f3;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin: 0.5rem;
}

@media screen and (min-width: 700px) {
  header, main {
    margin: 0.5rem;
  }
}


header {
  max-width: 1400px;

  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

expansion-button {
  display: flex;
  width: calc(100% / 3 - 1rem);
}

@media screen and (max-width: 700px) {
  expansion-button {
    width: calc(50% - 0.25rem);
    margin-bottom: 0.5rem;
  }
}

main {
  width: 100%;
  max-width: 1400px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

patch-list {
  flex-grow: 1;
  border-radius: 0.5rem;
  border: 2px dotted #888;
}

.copyright {
  margin-top: 0.7rem;
  color: #888;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .copyright {
    font-size: 0.65rem;
  }
}